/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }


/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */


/*obecne*/ 
div {
    color:white;

}
.doporucujeme {
    display: flex;
    flex-direction: column;
    max-width: auto;
}

/*pozadi*/ 

.recept, .hlavni-recept {
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    padding: 0.5rem 0.5rem;

}
.hlavni-recept{
    background-image: URL('images/burger.jpg');
}
.recept2 {
    background-image: URL('images/sushi.jpg');
    flex-basis: 100%;
 
}
.recept3 {
    background-image: URL('images/rajcata.jpg');
    flex-basis: 100%;

}
.recept4 {
    background-image: URL('images/kure.jpg');
    flex-basis: 100%;

}
.recept5 {
    background-image: URL('images/grilovani.jpg');

}


.recept-meta {
    display: flex;
    justify-content: space-between;
    flex-basis: 50;
}

.hlavni-recept, .recept {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.recept-komentare {
    text-align: right;
}
.recept-nazev {
    font-size: 1,2rem;
}

@media screen and (min-width: 480px) and (max-width: 860px) {

    .doporucujeme{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .sloupec {
        display: flex;
        flex-direction: column;
        flex-basis: 50% ;
    }
    .recept-nazev {
        font-size: 1,5rem;
    }
    .hlavni-recept {
        flex-basis: 100%;
    }

}

@media screen and (min-width: 861px) {
    
    .doporucujeme{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .hlavni-recept {
        flex-basis: 33.333%;
    }
    .sloupec {
        display: flex;
        flex-direction: column;
        flex-basis: 33.33% ;
    }
    .recept-nazev {
        font-size: 1,5rem;
    }
}